<div id="form_partial" class="container px-5">
  <div class="row justify-content-center">
  <%= form_with url: url, method: method do |form| %>
    <div class="mb-3">
      <%= form.label "Task Name", class: "form-label" %>*
      <%= form.text_field :name, value: @task&.name, class: "form-control rounded-pill border-dark smaller-text-box" %>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label "Task category", class: "form-label" %>*
          <%= form.select :category, options_for_select(["", :rest, :hobby, :chore], @task&.category), class: "form-select rounded-pill border-dark" %>
        </div>
      </div>

      <div class="col">
        <div class="mb-3">
          <%= form.label "Mandatory?", class: "form-check-label" %>
          <%= form.check_box :mandatory, checked: @task&.mandatory, class: "form-check-input" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= form.label "Event date", class: "form-label" %>
          <%= form.date_field :event_date, value: @task&.event_date, class: "form-control rounded-pill border-dark smallest-text-box" %>
        </div>
      </div>

      <div class="col">
        <div class="mb-3">
          <%= form.label "Frequency", class: "form-label" %>
          <%= form.select :frequency, options_for_select([:once, :daily, :weekly, :monthly, :annual], @task&.frequency), class: "form-select rounded-pill border-dark" %>
        </div>
      </div>
    </div>

    <div class="row align-items-end">
      <div class="col">
        <div class="mb-3">
          <%= form.label "Notes", class: "form-label" %>
          <%= form.text_area :notes, size: "100", value: @task&.notes, class: "form-label form-control rounded-pill border-dark" %><br>
          <%= form.submit "Generate a Suggested Breakdown\nof this Task (Powered by AI)", name: "get_ai", class: "btn btn-secondary rounded-pill" %><br>
        </div>

        <div class="mb-3">
          <%= form.label "Image", class: "form-label" %>
          <%= form.hidden_field :image_url, value: @task&.image_url %>
          <%= form.file_field :image_data, class: "form-select rounded-pill border-dark" %>
        </div>
      </div>

      <div class="col">

        <% if !@task.image_url.nil? && @task.image_url != "" %>  

          <!-- Button to Open Image Modal -->
          <button type="button" data-bs-toggle="modal" data-bs-target="#imageModal">
            <%= image_tag(@task.image_url, alt: "Uploaded Image", class: "rounded mx-auto d-block image-small img-responsive img-thumbnail") %>
          </button>

          <!-- The Modal -->
          <div class="modal fade" id="imageModal">
            <div class="modal-dialog">
              <div class="modal-content d-flex justify-content-center align-items-center">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Your Image</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <%= image_tag(@task.image_url, alt: "Uploaded Image", class: "img-fluid modal-image") %>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= form.submit button_text, class: "btn btn-secondary rounded-pill"%><br><br>
    <% if !@task || @task.id.nil? %>
      <%= form.submit "Save and Create Another Task", name: "create_another", class: "btn btn-secondary rounded-pill" %>
    <% end %>
  <% end %>





  <% if @task && @task.id %>
    <div class="row justify-contents-start">
      <div class="col-2">

        <!-- Button to Open Confirm Deletion Modal -->
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-toggle="modal" data-bs-target="#myModal">
          Delete
        </button>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Confirm Deletion</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Are you sure you want to delete this task?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <%= button_to 'Delete My Task', task_path(@task.id), method: :delete, class: 'btn btn-secondary' %>

          </div>
        </div>
      </div>
    </div>
  <% end %>

  <p>Mandatory fields marked with a *</p>
  
  </div>
</div>
  
