<style>
  #chat-box {
    border: 1px solid #ccc;
    height: 100px;
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    overflow-y: auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .message {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #e1f5fe;
    border: 1px solid #b3e5fc;
  }
</style>

<div id="chat-box">
  <!-- Messages will be displayed here -->
</div>

<script>
  const cable = ActionCable.createConsumer('https://ontrack-be-a58c9e421d34.herokuapp.com/cable');

  // Set up the subscription
  const chat = cable.subscriptions.create("ChatChannel", {
    connected: function() {
      console.log("Connected to ChatChannel!");
      
      // When connected, request to start the loop
      this.start();
    },
    disconnected: function() {
      console.log("Disconnected from ChatChannel.");
    },
    received: function(data) {
      const chatBox = document.querySelector('#chat-box');
      if (data) {
        
        // Create a new paragraph element for each message and append it to the chat box
        const messageElement = document.createElement('p');
        messageElement.textContent = data;
        chatBox.appendChild(messageElement);
      }
    },
    start: function() {
      // Send a request to the server to start the loop
      this.perform('start');
    },
    notification: function(content) {
      // Handle notification data when received from the server
      console.log(`Received notification: ${content}`);
      // You can update the UI or perform any other actions here
    }
  });
</script>

<div class="row">
    <div id="mood_buttons" class="container">

      <%= form_tag(dashboard_path, method: :get) do %>
        <%= hidden_field_tag :mood, 'bad' %>
        <button title="Bad Mood" class="btn" type="submit">
        <% if (cookies[:mood] == "bad") && dark_mode_enabled?%>
          <img src="<%= asset_path('circle_sad_dark.png') %>" alt="sad face button image" class="face-button img-responsive">
        <% elsif cookies[:mood] == "bad" %>
          <img src="<%= asset_path('circle_sad_light.png') %>" alt="sad face button image" class="face-button img-responsive">
        <% else %>
          <img src="<%= asset_path('legit_sad.png') %>" alt="sad face button image" class="face-button img-responsive">
        <% end %>
        </button>
      <% end %>


      <%= form_tag(dashboard_path, method: :get) do %>
        <%= hidden_field_tag :mood, 'meh' %>
        <button title="Meh Mood" class="btn" type="submit">
        <% if (cookies[:mood] == "meh") && dark_mode_enabled?%>
          <img src="<%= asset_path('circle_meh_dark.png') %>" alt="meh face button image" class="face-button img-responsive">
        <% elsif cookies[:mood] == "meh" %>
          <img src="<%= asset_path('circle_meh_light.png') %>" alt="meh face button image" class="face-button img-responsive">
        <% else %>
          <img src="<%= asset_path('legit_meh.png') %>" alt="meh face button image" class="face-button img-responsive">
        <% end %>
        </button>
      <% end %>


      <%= form_tag(dashboard_path, method: :get) do %>
        <%= hidden_field_tag :mood, 'good' %>
        <button title="Good Mood" class="btn" type="submit">
        <% if (cookies[:mood] == "good") && dark_mode_enabled?%>
          <img src="<%= asset_path('circle_happy_dark.png') %>" alt="happy face button image" class="face-button img-responsive">
        <% elsif cookies[:mood] == "good" %>
          <img src="<%= asset_path('circle_happy_light.png') %>" alt="happy face button image" class="face-button img-responsive">
        <% else %>
          <img src="<%= asset_path('legit_happy.png') %>" alt="happy face button image" class="face-button img-responsive">
        <% end %>
        </button>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col align-self-center">
    <div id="postit"  class="container">
      <div class="row">
        <div class="position-relative">
          <% if dark_mode_enabled? %>
            <%= image_tag("postit_dark_alt.png", class: "mx-auto d-block img-fluid") %>
          <% else %>
            <%= image_tag("postit_light.png", class: "mx-auto d-block img-fluid") %>
          <% end %>

          <div class="text-overlay position-absolute top-0 start-0 d-flex">

<!-- Button to Open the Modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal">
    <%= image_tag("polaroid_light.png", id: "polaroid-btn", class: "img-fluid custom-icons") %>

</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <% if @task && @task.image_url %>  
      <%= image_tag(@task.image_url, alt: "Uploaded Image", class: "rounded mx-auto d-block image-small img-responsive") %>
    <% end %>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

          </div>


          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
            <% if cookies[:mood] && @task.present? %>
              <p style="font-family: Chalkduster, fantasy"> <%= @task.name %> </p>
              <p><%= form_tag(task_path(@task.id), method: :patch, data: { turbo: false }) do %>
                <%= hidden_field_tag 'skipped', true %>
                <%= submit_tag "skip", class: "btn btn-secondary rounded-pill" %>
              <% end %>

              <% if @task.frequency == "once" %>
                <%= button_to "completed", task_path(@task.id), method: :delete, class: "btn btn-secondary rounded-pill" %>
              <% else %>
                <%= button_to "completed", task_path(@task.id), method: :patch, params: {completed: true}, class: "btn btn-secondary rounded-pill" %>
              <% end %>
            <% else %>
              <p style="font-family: Chalkduster, fantasy"> Please add a task or select a mood ~! </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="col">
<div class="float-left">
<div class="offcanvas offcanvas-start" id="holidays_and_events">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title">Upcoming Events</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <ol id='calendar_events'>
      <% if @calendar_events != nil %>
        <p>Upcoming Events</p>
          <% @calendar_events.each do |event| %>
            <li><%= event.name %>, <%= event.start_date %>, <%= event.description %></li>
          <% end %>
      <% else %>
        <%= link_to "Integrate Google Calendar", "/dashboard?calendar=true" %>
      <% end %>
    </ol><br><br>

    <ol id='holidays'>
      <p>Upcoming Holidays</p>
      <% @holidays.each do |holiday| %>
        <li><%= holiday.name %>, <%= holiday.date %></li>
      <% end %>
    </ol>
  </div>
</div>
</div>

<div class="container-fluid mt-3">
  <button class="btn icon-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#holidays_and_events">
    <%= image_tag("calendar_light.png", class: "img-fluid custom-icons") %>
  </button>
</div>
</div>




