<div class="col">
  <div class="float-left">

    <div class="offcanvas offcanvas-start" id="holidays_and_events">
      <div class="offcanvas-header">
        <h2 class="offcanvas-title">Upcoming Events</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>

      <div class="offcanvas-body">
        <ol id='calendar_events'>
          <% if @calendar_events != nil %>
            <p>Upcoming Events</p>
              <% @calendar_events.each do |event| %>
                <li><%= event.name %>, <%= event.start_date %>, <%= event.description %></li>
              <% end %>
          <% else %>
            <%= link_to "Integrate Google Calendar", "/dashboard?calendar=true" %>
          <% end %>
        </ol><br><br>

        <ol id='holidays'>
          <p>Upcoming Holidays</p>
          <% @holidays.each do |holiday| %>
            <li><%= holiday.name %>, <%= holiday.date %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-3">
    <button class="btn icon-btn" type="button" title="Upcoming Events" data-bs-toggle="offcanvas" data-bs-target="#holidays_and_events">
      <% if dark_mode_enabled? %>
        <%= image_tag("calendar_dark.png", class: "img-fluid custom-icons") %>
      <% else %>
        <%= image_tag("calendar_light.png", class: "img-fluid custom-icons") %>
      <% end %>
    </button>


<!-- Button to Open the EncouragementBot Modal -->
                  <button type="button" class="btn icon-btn" title="Encouragement Bot" data-bs-toggle="modal" data-bs-target="#encouragementModal">
<% if dark_mode_enabled? %>
      <%= image_tag("chat_dark.png", class: "img-fluid custom-icons mt-1") %>
    <% else %>
      <%= image_tag("chat_light.png", class: "img-fluid custom-icons mt-1") %>
    <% end %>
</button>
  </div>
</div>

<!-- The EncouragementBot Modal -->
                  <div class="modal fade" id="encouragementModal">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- EncouragementBot Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Encouragement Bot</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- EncouragementBot Modal body -->
                        <div id="chat-box" class="modal-body">
                          
                        </div>

                        <!-- EncouragementBot Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">I got this.</button>
                        </div>

                      </div>
                    </div>
                  </div>


<script>
  const cable = ActionCable.createConsumer('https://ontrack-be-a58c9e421d34.herokuapp.com/cable');

  // Set up the subscription
  const chat = cable.subscriptions.create("ChatChannel", {
    connected: function() {
      console.log("Connected to ChatChannel!");
      
      // When connected, request to start the loop
    },
    disconnected: function() {
      console.log("Disconnected from ChatChannel.");
    },
    received: function(data) {
      const chatBox = document.querySelector('#chat-box');
      if (data) {
        
        // Create a new paragraph element for each message and append it to the chat box
        const messageElement = document.createElement('p');
        messageElement.textContent = data;
        chatBox.appendChild(messageElement);
      }
    },
    notification: function(content) {
      // Handle notification data when received from the server
      console.log(`Received notification: ${content}`);
      // You can update the UI or perform any other actions here
    }
  });
</script>

<div class="row">

  <div id="mood_buttons" class="container">

    <%= form_tag(dashboard_path, method: :get) do %>
      <%= hidden_field_tag :mood, 'bad' %>
      <button title="Bad Mood" class="btn" type="submit">
      <% if (cookies[:mood] == "bad") && dark_mode_enabled?%>
        <img src="<%= asset_path('circle_sad_dark.png') %>" alt="sad face button image" class="face-button img-responsive">
      <% elsif cookies[:mood] == "bad" %>
        <img src="<%= asset_path('circle_sad_light.png') %>" alt="sad face button image" class="face-button img-responsive">
      <% else %>
        <img src="<%= asset_path('legit_sad.png') %>" alt="sad face button image" class="face-button img-responsive">
      <% end %>
      </button>
    <% end %>


    <%= form_tag(dashboard_path, method: :get) do %>
      <%= hidden_field_tag :mood, 'meh' %>
      <button title="Meh Mood" class="btn" type="submit">
      <% if (cookies[:mood] == "meh") && dark_mode_enabled?%>
        <img src="<%= asset_path('circle_meh_dark.png') %>" alt="meh face button image" class="face-button img-responsive">
      <% elsif cookies[:mood] == "meh" %>
        <img src="<%= asset_path('circle_meh_light.png') %>" alt="meh face button image" class="face-button img-responsive">
      <% else %>
        <img src="<%= asset_path('legit_meh.png') %>" alt="meh face button image" class="face-button img-responsive">
      <% end %>
      </button>
    <% end %>


    <%= form_tag(dashboard_path, method: :get) do %>
      <%= hidden_field_tag :mood, 'good' %>
      <button title="Good Mood" class="btn" type="submit">
      <% if (cookies[:mood] == "good") && dark_mode_enabled?%>
        <img src="<%= asset_path('circle_happy_dark.png') %>" alt="happy face button image" class="face-button img-responsive">
      <% elsif cookies[:mood] == "good" %>
        <img src="<%= asset_path('circle_happy_light.png') %>" alt="happy face button image" class="face-button img-responsive">
      <% else %>
        <img src="<%= asset_path('legit_happy.png') %>" alt="happy face button image" class="face-button img-responsive">
      <% end %>
      </button>
    <% end %>

  </div>
</div>


<div class="container d-flex align-items-center justify-content-center">

        <div class="col-xs-12 col-sm-6 col-md-8 mx-auto position-relative text-center">
          


                <% if dark_mode_enabled? %>
                  <%= image_tag("postit_dark_alt.png", class: "img-fluid") %>
                <% else %>
                  <%= image_tag("postit_light.png", class: "img-fluid") %>
                <% end %>


            





                <span class="overlay-text position-absolute top-50 start-50 translate-middle">
                


                

            



<% if cookies[:mood] && @task.present? %>
                <p> <%= @task.name %> </p>

<p>
                <% if !@task.image_url.nil? && @task.image_url != "" %>
                <!-- Button to Open the Image Modal -->
                <button type="button" data-bs-toggle="modal" data-bs-target="#myModal">
                    <%= image_tag(@task.image_url, alt: "Uploaded Image", class: "rounded img-fluid", style: "max-height: 100px;") %>
                </button>
                <% end %>


                <% if !@task.notes.nil? && @task.notes != "" %>

                  <!-- Button to Open the Notes Modal -->
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#notesModal">notes</button>
                <% end %>
</p>
<p>
                <% if @task.mandatory == true %>

                  <!-- Button to Open the Skip Modal -->
                  <button type="button" class="btn btn-secondary rounded-pill" data-bs-toggle="modal" data-bs-target="#skipModal">skip</button>

                <% else %>
                  <%= button_to "skip", task_path(@task.id), method: :patch, params: {skipped: true}, class: "btn btn-secondary rounded-pill" %>
                <% end %>

                <% if @task.frequency == "once" %>
                  <%= button_to "completed", task_path(@task.id), method: :delete, class: "btn btn-secondary rounded-pill" %>
                <% else %>
                  <%= button_to "completed", task_path(@task.id), method: :patch, params: {completed: true}, class: "btn btn-secondary rounded-pill" %>
                <% end %>
</p>
                </span>

<!-- The Image Modal -->
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Image Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Image Modal body -->
                  <div class="modal-body">
                    <% if @task && @task.image_url %>  
                      <%= image_tag(@task.image_url, alt: "Uploaded Image", class: "rounded mx-auto d-block image-small img-responsive") %>
                    <% end %>
                  </div>

                  <!-- Image Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

            

<!-- The Notes Modal -->
                  <div class="modal fade" id="notesModal">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Notes Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Notes on Task</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Notes Modal body -->
                        <div class="modal-body">
                          <%= @task.notes %>
                        </div>

                        <!-- Notes Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                        </div>

                      </div>
                    </div>
                  </div>


<!-- The Skip Modal -->
                  <div class="modal fade" id="skipModal">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Skip Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Confirm Skip</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Skip Modal body -->
                        <div class="modal-body">
                          This task is marked as mandatory. Are you sure you want to skip it?
                        </div>

                        <!-- Skip Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <%= button_to "Skip", task_path(@task.id), method: :patch, params: {skipped: true}, class: "btn btn-secondary" %>
                        </div>

                      </div>
                    </div>
                  </div>





              <% else %>
                <p> Please add a task and select a mood! </p>
              <% end %>











        </div>

</div>
</div>
