<div id="mood_buttons" class="container">

  <%= form_tag(dashboard_path, method: :get) do %>
    <%= hidden_field_tag :mood, 'good' %>
    <button title="Good Mood" class="face-buttons btn" type="submit">
      <img src="<%= asset_path('legit_happy.png') %>" alt="happy face button image">
    </button>
  <% end %>

  <%= form_tag(dashboard_path, method: :get) do %>
    <%= hidden_field_tag :mood, 'meh' %>
    <button title="Meh Mood" class="face-buttons btn" type="submit">
      <img src="<%= asset_path('legit_meh.png') %>" alt="meh face button image">
    </button>
  <% end %>

  <%= form_tag(dashboard_path, method: :get) do %>
    <%= hidden_field_tag :mood, 'bad' %>
    <button title="Good Mood" class="face-buttons btn" type="submit">
      <img src="<%= asset_path('legit_sad.png') %>" alt="sad face button image">
    </button>
  <% end %>
</div>


<div id="postit"  class="container">
  <div class="row">
    <div class="position-relative">
      <% if dark_mode_enabled? %>
        <%= image_tag("postit_dark.png", class: "mx-auto d-block img-fluid") %>
      <% else %>
        <%= image_tag("postit_light.png", class: "mx-auto d-block img-fluid") %>
      <% end %>
      <div class="text-overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
        <p>Your task goes here</p>
      </div>
    </div>
  </div>
</div>
