<div style = "display: flex; justify-content: space-evenly;">
  <%= form_tag(dashboard_path, method: :get) do %>
    <%= hidden_field_tag :mood, 'good' %>
    <button class="good_button" type="submit">
      <img src="<%= asset_path('legit_happy.png') %>" alt="happy face button image">
    </button>
  <% end %>

  <%= form_tag(dashboard_path, method: :get) do %>
    <%= hidden_field_tag :mood, 'meh' %>
    <button class="meh_button" type="submit">
      <img src="<%= asset_path('legit_meh.png') %>" alt="meh face button image">
    </button>
  <% end %>

  <%= form_tag(dashboard_path, method: :get) do %>
    <%= hidden_field_tag :mood, 'bad' %>
    <button class="bad_button" type="submit">
      <img src="<%= asset_path('legit_sad.png') %>" alt="sad face button image">
    </button>
  <% end %>
</div>

<div id="postit"  class="container">
  <div class="row">
    <div class="position-relative">
      <% if dark_mode_enabled? %>
        <%= image_tag("postit_dark.png", class: "mx-auto d-block img-fluid") %>
      <% else %>
        <%= image_tag("postit_light.png", class: "mx-auto d-block img-fluid") %>
      <% end %>
      <div class="text-overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
      <% if cookies[:mood] && @task.present? %>
        <p> <%= @task.name %> </p>
        <%= button_to "skip", method: :patch %><%= button_to "complete" %>
      <% else %>
        <p> Please add a task! </p>
      <% end %>
      </div>
    </div>
  </div>
</div>
