<!DOCTYPE html>
<html>
  <head>
    <title>OntrackFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= cookies[:theme] %>">

    <% flash.each do |type, message| %>
    <div class="alert alert-warning">
      <section class=<%= type %>>
        <strong><p><%= message %></p></strong>
      </section>
      </div>
    <% end %>

    <% if current_user %>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" title="Dashboard" href="<%=dashboard_path%>">&#127968;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Add New Task" href="<%=new_task_path(current_user)%>">&#10133;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="View All Tasks" href="<%=tasks_path(current_user)%>">&#128466;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Log Out" href="<%=logout_path%>">&#128682;</a>
        </li>
      </ul>
    <% end %>

        <% if dark_mode_enabled? %>
      <%= form_with url: set_theme_path, method: :get do |form| %>
        <button class="btn" type="submit" name="theme" value="light" title="Light Mode">&#127773;</button>
      <% end %>
    <% else %>
      <%= form_with url: set_theme_path, method: :get do |form| %>
        <button class="btn" type="submit" name="theme" value="dark" title="Dark Mode">&#127770;</button>
      <% end %>
    <% end %>

    <%= yield %>

    <% if dark_mode_enabled? %>
      <%= image_tag("purple_tracks.png", class: "img-fluid w-100") %>
    <% else %>
      <%= image_tag("grey_tracks.png", class: "img-fluid w-100") %>
    <% end %>
  </body>
</html>
