<!DOCTYPE html>
<html>
  <head>
    <title>OntrackFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <body class="<%= cookies[:theme] %>">
    <%= cookies[:theme] %>

    <%= form_with url: set_theme_path, method: :get do |form| %>
      <button type="submit" name="theme" value="light">Light Mode</button>
    <% end %>

    <%= form_with url: set_theme_path, method: :get do |form| %>
      <button type="submit" name="theme" value="dark">Dark Mode</button>
    <% end %>
    
    <%= form_with url: set_theme_path, method: :get do |form| %>
      <button type="submit" name="theme" value="">System Default</button>
    <% end %>

  <% flash.each do |type, message| %>
    <section class=<%= type %>>
      <p><%= message %></p>
    </section>
  <% end %>
    <%= yield %>
  </body>
</html>
